<div id="the-story-so-far">
    <img id="triangle" src="assets/images/triangle.png"></img>
    <h2 class="story-heading">The Story So Far.</h1>
    <section id="timeline">
      <div class="parent-row">
        <div class="col-1">
          <img class="timeline-image" src="assets/images/the-beginning.png">
          </img>
          <p class="story">She caught the aesthetic bug early on, as she used to draw page after page of stick figure ladies in dollarama notebooks. In highschoool she was a full fledged art geek. The most natural next step was to gain an arts degree.
          </p>
        </div>

        <div class="col-2">
          <div class="time-circle">
            <p>1990's</p>
          </div>
        </div>
      </div>

      <div class="parent-row-opp">
        <div class="col-3">
          <div class="time-circle">
            <p>2007</p>
          </div>
        </div>
        <div class="col-4">
          <img class="timeline-image" src="assets/images/love.png" alt="Icons of my love for printmaking and photography."></img>
          <p class="story">During her undergraduate she fell in love with analog documentary photography and intaglio printmaking.
          </p>
        </div>
      </div>

      <div class="parent-row">
        <div class="col-1">
          <img class="timeline-image" src="assets/images/digital.png">
          </img>
          <p class="story">Being from dial-up Ontario tech was a big deal and after an introductory photoshop course she couldn't get enough and began teaching herself the in's and out's of photoshop.
          </p>
        </div>

        <div class="col-2">
          <div class="time-circle">
            <p>2009</p>
          </div>
        </div>
      </div>

      <div class="parent-row-opp">
        <div class="col-3">
          <div class="time-circle">
            <p>2011</p>
          </div>
        </div>
        <div class="col-4">
          <img class="timeline-image" src="assets/images/photo-restoration.png" alt="Icons of my love for printmaking and photography."></img>
          <p class="story">After obtaining her Fine Arts Degree with an honours in Studio and Art History she ventured to the nations capital where she continued to draw, print and photograph.  Her first position as an image retoucher made her a pro at removing unwanted blemishes and ex's. Since then she's continued to build up her creative toolkit to include Illustrator, InDesign, Lightroom, and even a little Premier Pro.
          </p>
        </div>
      </div>

      <div class="parent-row">
        <div class="col-1">
          <img class="timeline-image" src="assets/images/digital.png">
          </img>
          <p class="story">Being tech inclined gave her an itch to achieve the ultimate endeavor - Web Development. Once grasping the nuances of CSS and HTML she moved on to the big leauges of Ruby on Rails, Javascript and Jquery. She continues hacking about in an array of web frameworks as she's always up for a challenge.
          </p>
        </div>

        <div class="col-2">
          <div class="time-circle">
            <p>2014</p>
          </div>
        </div>
      </div>

    </section>
</div>