header
  height: 600px
  background: $dark-grey
  background:
    image: url(../images/cover-grey.png)
    repeat: no-repeat
    position: center

  .logo
    +size(50px)
    background: #999
    float: left
    margin: 10px 0 0 30px

  nav
    float: right
    margin: 30px 30px 0 0
    a
      display: inline-block
      margin-left: 20px
      text-decoration: none
      text-transform: uppercase
      color: $light-grey
      font:
        family: $font-body
        weight: 700
        size: 1em

      &:hover
        color: $yellow

  h1.name
    display: block
    margin: 0
    padding-top: 60px
    text-align: center
    font:
      family: $font-head
      size: 6.5em
      weight: 700
    color: $yellow
    text-transform: uppercase
    clear: both

  h2.title
    text-align: center
    margin: 0
    font:
      family: $font-sub
      size: 3em
  color: white

  h3.sub-title
    text-align: center
    margin: 0
    color: white
    font:
      family: $font-sub
      size: 2em